.flex {
  display: flex;
}

.flex.horizontal {
  flex-direction: row;
}

.flex.vertical {
  flex-direction: column;
}

.flex.justify-around {
  justify-content: space-around;
}

.flex.justify-center {
  justify-content: center
}

.flex.justify-between {
  justify-content: space-between
}

.flex.justify-evenly {
  justify-content: space-evenly;
}

.flex.align-center {
  align-items: center;
}

.flex.align-around {
  align-items: space-around;
}

.flex.align-between {
  align-items: space-between;
}